@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information. Dette er en test. Dette er endnu en test.</p>

<p>Her kommer lige noget mere test, bare fordi.</p>
