@model NET_Test.Models.lecture
@{
    ViewBag.Title = "Test - Anders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td, th {
        border: 10px solid white;
        text-align: left;
        padding: 8px;
    }
    /*tr:nth-child(odd) {
        background-color: blue;
    }*/
    table tr#ROW1 {
        background-color: aquamarine;
        color: black;
    }

    table tr#ROW2 {
        background-color: chartreuse;
        color: black;
    }

    table td#CAT1, th#CAT1 {
        background-color: darkgrey;
    }

    table td#CAT2, th#CAT2 {
        background-color: yellow;
    }

    table td#BLANK, th#BLACK {
        background-color: gray;
    }
</style>

<h2>Test - Anders</h2>

<table>

    <tr>
        <td><a style="background-color: transparent" class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Tid</a></td>
        <th scope="col">11:30</th>
        <th scope="col">12:00</th>
        <th scope="col">12:30</th>
        <th scope="col">13:00</th>
        <th scope="col">13:30</th>
    </tr>
    <tr id="ROW1">
        <th scope="row">Lokale 1</th>
        <td colspan="2">Event</td>
        <td style="background-color: white"></td>
        <td colspan="3">Another Event</td>
        <td colspan="1" onclick="document.location=" style="cursor:pointer">Yet Another Event</td>
    </tr>
    <tr id="ROW2">
        <th scope="row">Lokale 2</th>
        <td colspan="2"></td>
        <td colspan="1"></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <th>Lokale 3</th>
    </tr>
    <tr>
        <th>Lokale 4</th>
    </tr>
    <tr>
        <th>Lokale 5</th>
    </tr>
</table>

<table>

    <tr>
        <td>Tid</td>
        <th scope="col" style="background-color: aqua">Lokale 1</th>
        <th scope="col" style="background-color:coral">Lokale 2</th>
        <th id="CAT1" scope="col">Lokale 3</th>
        <th id="CAT2" scope="col">Lokale 4</th>
        <th scope="col">Lokale 5</th>
    </tr>
    <tr>
        <th scope="row">11:30</th>
        <td id="BLANK" rowspan="4"></td>
        <td rowspan="4" style="background-color: crimson"><button ID="btnOpenPopupWindow" runat="server" Text="Open Popup Window" onclick="btnOpenPopupWindow_Click">Anders</button></td>
        <td id="CAT1" rowspan="4">@Model.Name</td>
        <td id="CAT2" rowspan="12">BLah</td>
        <td rowspan="2" style="background-color: hotpink">5</td>
    </tr>
    <tr>
        <th scope="row">12:00</th>
    </tr>
    <tr>
        <th>12:30</th>
    </tr>
    <tr>
        <th>13:00</th>
    </tr>
    <tr>
        <th>13:30</th>
        <td id="BLANK" rowspan="2"></td>
        <td id="CAT1" rowspan="4">@Model.Name</td>
        <td rowspan="1" style="background-color: yellowgreen"></td>
    </tr>
    <tr>
        <th>14:00</th>
    </tr>
    <tr>
        <th>14:30</th>
    </tr>
    <tr>
        <th>15:00</th>
    </tr>
    <tr>
        <th>15:30</th>
    </tr>
    <tr>
        <th>16:00</th>
    </tr>
    <tr>
        <th>16:30</th>
    </tr>
</table>